<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body{font-family: verdana;}
            table label{font-size: 20px;}    
            table td, table th{text-align: left;}
            table td select{font-size: 15px;} 

            #overlay {
                display: none;
                cursor: pointer;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: auto;
                height: auto;
                background-color: rgba(0, 0, 0, 0.5);
            }

        </style>
        <script type="text/javascript" src='{{ asset('js/jquery-1.12.0.min.js')}}'></script>        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
